@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");

body {
  background-color: blanchedalmond;
}

h1 {
  text-align: center;
  font-family: "Ultra", serif;
}

p {
  color: burlywood;
  text-align: center;
  margin: 10px;
}

.parkInfoOutput {
  text-align: center;
  display: none;
}
